@import url(https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap);

html {
	scroll-behavior: smooth
}

body {
	font-size: 14px;
	font-weight: 400;
	font-family: Poppins, sans-serif;
	color: var(--body-text-color);
	background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--body-text-color);
	font-family: Poppins, sans-serif
}

a {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

a:hover {
	text-decoration: none
}

a, a:focus {
	outline: 0
}

p {
	font-weight: 500;
	font-family: Poppins, sans-serif;
	font-size: 15px
}

